
.msg
{   
    
}
.logo-msg 
{
    margin-right: -70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-content
{
    display: flex;
    flex-direction: column;  
}
.btn-more{
    height: 10px;
    width: 20px;
}